 <launch>
  <!-- Arguments -->
  <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, hector, karto, rtab]"/>
  <arg name="open_rviz" default="true"/>

  <!-- Hexapod -->

  <!-- SLAM: Gmapping, Hector, Karto, RTAB Map -->
  <include file="$(find hexapod_bringup)/launch/slam/$(arg slam_methods).launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find hexapod_description)/rviz_prefs/robotViz.rviz"/>
  </group>
</launch>
