
<?xml version="1.0" encoding="UTF-8"?>
<!-- Full bringup no visual nodes launch file ( Normal use, visual ran on remote desktop ) -->

<launch>
    <arg name="config" default="phantomX"/>
    <arg name="joy_mapping" default="joystick_x360"/>
    <arg name="depth_sensor" default="astra"/>
    
    <!-- Launching sound first since some packages have initial sounds -->
    <include file="$(find hexapod_bringup)/launch/components/sounds.launch" />
    <include file="$(find hexapod_bringup)/launch/hexapod_simple.launch">
      <arg name="config" value="$(arg config)"/>
      <arg name="joy_mapping" default="$(arg joy_mapping)"/>
    </include>
<!-- Start the IMU Sensor -->
    <include file="$(find hexapod_bringup)/launch/components/imu_mpu9255.launch" />
    
<!-- Camera based System -->
    <group if="$(eval arg('depth_sensor') == 'astra')">
        <!-- Start the Astra Camera -->
          <include file="$(find astra_camera)/launch/astra.launch" />
        <!-- Start generating laser messages -->
          <include file="$(find hexapod_bringup)/launch/components/depth_laserscan.launch" />
        <!-- Start Localization -->
          <include file="$(find hexapod_bringup)/launch/components/robot_localization_ekf.launch" />
        <!-- Start Scanning -->
          <include file="$(find hexapod_bringup)/launch/components/rtabmap.launch" />
  </group>
    
<!-- Lidar based System -->
    <group if="$(eval arg('depth_sensor') == 'lidar')">
        <!-- Start the Lidar -->
          <include file="$(find hexapod_bringup)/launch/components/lidar.launch" />
        <!-- Start Localization -->
          <include file="$(find hexapod_bringup)/launch/components/robot_localization_ekf.launch" />
        <!-- Publish static transform of the laser. Define your sensor offset here -->
          <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0.065 0 0.098 0 0 0  /base_link /laser"/>
        <!-- Start Scanning -->
          <include file="$(find hexapod_bringup)/launch/slam/gmapping.launch" />
  </group>

</launch>
